.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
LOG_HOME_IS_UNDEFINED/
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/src/main/generated

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Node ###
node_modules/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### upload-center
.env
